/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__icon-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ card__like-button — для обозначения текстового элемента внутри кнопки

*/

/* Анимация масштабирования для группы сердца */
@keyframes scaleHeart {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.25);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  /* Анимация для искр (появление и исчезание) */
  @keyframes sparksFlash {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }