/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Названия шрифтов */
  --font-main: 'Inter';
  --font-accent: 'PressStart2P';

  /* Толщины шрифтов */
  --fw-text: 400;    /* обычный текст */
  --fw-heading: 700; /* заголовки */

  --header-min-width: 320px;
  --header-max-width: 1440px;

  --Themes-mainColor: #000000;
  --Themes-backgroundColor: #FFFFFF;
  --Themes-accentColor: #FF0000;


  /* Паддинги для header__content */
  --header-padding-vertical: clamp(80px, 10vh, 128px);
  --header-padding-horizontal: clamp(20px, 5vw, 120px);

}