/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Названия шрифтов */
  --font-main: 'Inter';
  --font-accent: 'PressStart2P';

  /* Толщины шрифтов */
  --fw-text: 400;
  /* обычный текст */
  --fw-heading: 700;
  /* заголовки */

  --header-min-width: 320px;
  --header-max-width: 1440px;

  --Themes-mainColor: #000000;
  --Themes-backgroundColor: #FFFFFF;
  --Themes-accentColor: #FF0000;


  /* Паддинги для header__content */
  --header-padding-vertical: clamp(80px, 10vh, 128px);
  --header-padding-horizontal: clamp(20px, 5vw, 120px);

  --background-image:
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  /* Цвет контура (акцентный) */
  --heart-contour: #000000;
  /* Основной (активный) цвет анимации — красный */
  --heart-active: red;
  --heart-fill: red;

}