/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Названия шрифтов */
  --font-main: 'Inter';
  --font-accent: 'PressStart2P';

  /* Толщины шрифтов */
  --fw-text: 400;    /* обычный текст */
  --fw-heading: 700; /* заголовки */

  --header-min-width: 320px;
  --header-max-width: 1440px;
}